@mixin btn-slider($distance) {
    -webkit-transform: translateX($distance);
    -ms-transform: translateX($distance);
    transform: translateX($distance);
}

/* Base styles for the switch container */
.switch {
    position: relative;
    display: inline-block;
    width: calc(70px * var(--multiplier));
    height: calc(35px * var(--multiplier));
    /* Hide the checkbox input */
    .switch input {
        display: none;
    }
    /* The slider background color animation */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ACB5F6; /* Initial background color */
        transition: background-color 0.4s;
        border-radius: 34px;
    }
    /* Rounded sliders (knobs) */
    .slider:before {
        position: absolute;
        content: "";
        height: calc(35px * var(--multiplier));
        width: calc(35px * var(--multiplier));
        left: -0.5px;
        bottom: 0px;
        background-color: #1E2DB8;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 50%;
    }
    /* The slider background color animation */
    .slider-en {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ACB5F6; /* Initial background color */
        transition: background-color 0.4s;
        border-radius: 34px;
    }
    .slider-en:before {
        position: absolute;
        content: "";
        height: calc(35px * var(--multiplier));
        width: calc(35px * var(--multiplier));
        left: calc(35.5px * var(--multiplier));
        bottom: 0px;
        background-color: #1E2DB8;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 50%;
    }
    /* Custom images on both sides */
    .left-icon-btn {
        position: absolute;
        left: calc(5px * var(--multiplier));
        bottom: calc(5px * var(--multiplier));
        height: calc(25px * var(--multiplier));
        width: calc(25px * var(--multiplier));
        cursor: pointer;
        pointer-events: none;
    }

    .right-icon-btn {
        position: absolute;
        right: calc(5px * var(--multiplier));
        bottom: calc(5px * var(--multiplier));
        height: calc(25px * var(--multiplier));
        width: calc(25px * var(--multiplier));
        cursor: pointer;
        pointer-events: none;
    }

    // When the switch is checked, move the slider to the right
    input:checked + .slider:before {
        @include btn-slider(calc(36px  * var(--multiplier)));
    }

    // When the switch is checked, move the slider to the left
    input:checked + .slider-en:before {
        @include btn-slider(calc(-36px  * var(--multiplier)));
    }
}

@media only screen and (min-width: 850px) {
    .switch{
        --multiplier: 1.31;
        // When the switch is hover, move the slider little bit to the right
        input:hover + .slider:before {
            @include btn-slider(calc(3px  * var(--multiplier)));
        }

        // When the switch is checked and hover, move the slider little bit to the right
        input:checked:hover + .slider:before {
            @include btn-slider(calc(33px  * var(--multiplier)));
        }
        // When the switch is hover, move the slider little bit to the left
        input:hover + .slider-en:before {
            @include btn-slider(calc(-3px  * var(--multiplier)));
        }

        // When the switch is checked and hover, move the slider little bit to the left
        input:checked:hover + .slider-en:before {
            @include btn-slider(calc(-33px  * var(--multiplier)));
        }
    }
}

