.tab-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding-right: 45px;
}

.tab {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0px;
}

.tab.active{
  background-color: var(--background-color);
  border-radius: 20px;
}

.tab-button {
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 20px;
}

.tab-button.active {
  background-color: var(--secondary-color);
}

.tab-content {
  text-align: center;
  display: none;
  padding: 5px 15px;
}

.tab-content.active {
  display: block;
}
