.container-menu {
  margin: auto 2%;
  /* Style for the menu icon */
  .menu-icon {
    cursor: pointer;
    /* Add any other styling you want for the menu icon */
  }

  /* Dropdown styles */
  .dropdown {
    display: none;
    position: absolute;
    list-style-type: none;
    padding: 0rem 1rem;
    margin: 0;
    right: 2%;
  }

  .dropdown-item:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .dropdown-item:first-child {
    border-top-left-radius: 1rem;
  }

  .dropdown-item {
    /* Add styles for individual dropdown items here */
    /* For example, you can set background color, padding, text color, etc. */
    background-color: var(--ascent-color);
    padding: 0.5rem;
    border: 0.1rem solid var(--black-10);
  }

  .dropdown-item h5:hover{
    color: var(--secondary-color);
}

  /* Style the links within the dropdown */
  .dropdown-item a {
    display: block;
    text-decoration: none;
    color: var(--background-color);
    text-align: center;
    /* Add any other styles for the links within the dropdown */
  }
}

/* Show the dropdown on hover */
.container-menu:hover {
  .dropdown {
    display: block;
  }
}

.dropdown.active{
    display: block;
}
