.scale-in-cards{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .scale-in-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    background-color: var(--background-color);
    .card-btn {
      background-color: var(--background-color);
      color: var(--text-color);
      border: none;
      padding: 10px 20px;
      text-align: center;
      cursor: pointer;
      outline: none;
      border-radius: 20px;
      transition: background-color 0.8s;
      &:hover h4{
        transition: transform 0.2s;
        transform: scale(1.05);
      }
      &.active{
        background-color: var(--secondary-color);
        transition: background-color 1s;
      }
    }
    .card-content {
      text-align: center;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      background-color: var(--background-color);
      overflow: hidden;
      max-height: 0;
      & > *{
        margin: 0.5rem 1rem;
      }
      &:not(.active){
        transition: max-height 1.8s ease;
      }
      &.active{
        transition: max-height 1.8s ease;
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .scale-in-cards{
    flex-direction: row;
    .scale-in-card {
      .card-content{
        animation: heightReset 0.01s forwards 1;
        @keyframes heightReset {
          from{
            max-height: 0;
          }
          to{
            max-height: fit-content;
          }
        }
      }
      .card-btn{
        cursor: auto;
        background-color: var(--secondary-color);
        &:hover h4{
        transform: scale(1);
        }
      }
    }
  }
}