.module-cards {
  /*
  Height is calculated as 25px (height of icon for mobile) * count of icons
  + 20px (gap between icons) * count of icons minus one (if 10 icons it will be 9 gaps)
  + 20px (10px needed for both top and bottom)
  CHANGE only number-of-icons
  */
  --number-of-icons: 11;
  --height-tab-menu: calc(
    (var(--number-of-icons) * 2.5rem) + ((var(--number-of-icons) - 1) * 2rem) +
      2rem
  );
    --height-tab-menu-min850px: calc(
    (var(--number-of-icons) * 3.5rem) + ((var(--number-of-icons) - 1) * 2rem) +
      2rem
  );
  /*
  bg-image already with opacity and bg-image-color for
  */
  --bg-image: url("../../public/background_techstack.svg");
  --bg-image-color: #29379e;
  // Dont forget to edit slider-NUMBER as u need
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  height: var(--height-tab-menu);
  overflow: hidden;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 15%;
  .tab-menu-bg {
    margin: 0;
    background-color: var(--secondary-color);
    border-radius: 20px;
    position: relative;
    .tab-menu {
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 4.5rem;
      margin: 0rem;
      height: var(--height-tab-menu);
      .menu-slider {
        position: absolute;
        z-index: 0;
        width: 4.5rem;
        background-color: var(--bg-image-color);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        -webkit-transition: transform 1.8s, height 1.8s;
        transition: transform 1.8s, height 1.8s;
        .bottom-or-left {
          background: radial-gradient(
            circle 20.2px at bottom left,
            transparent 98%,
            var(--bg-image-color)
          );
          width: 2rem;
          height: 2.5rem;
          position: absolute;
          right: 0px;
          bottom: -20px;
          z-index: -4;
        }
        .top-or-right {
          background: radial-gradient(
            circle 20.2px at top left,
            transparent 98%,
            var(--bg-image-color)
          );
          width: 2rem;
          height: 2.5rem;
          position: absolute;
          right: 0px;
          top: -20px;
          z-index: -4;
        }
        /*
      every label must have unique slider-NUMBER class
      height of each slider-NUMBER class count as 45px (25px icon + 10px*2 top&bottom space) * number of icons
      when slider moves to each position it gets specific slider-NUMBER class, thats why there are exact numbers
      */
        @mixin slider($height, $distance) {
          height: $height;
          -webkit-transform: translateY($distance);
          -ms-transform: translateY($distance);
          transform: translateY($distance);
        }
        &.slider-0 {
          @include slider(135px, 0px);
        }
        &.slider-1 {
          @include slider(45px, 135px);
        }
        &.slider-2 {
          @include slider(45px, 180px);
        }
        &.slider-3 {
          @include slider(45px, 225px);
        }
        &.slider-4 {
          @include slider(90px, 270px);
        }
        &.slider-5 {
          @include slider(45px, 360px);
        }
        &.slider-6 {
          @include slider(45px, 405px);
        }
        &.slider-7 {
          @include slider(45px, 450px);
        }
      }
      & > label {
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 0rem;
        cursor: pointer;
        &:first-of-type {
          margin-top: auto;
        }
        &:last-of-type {
          margin-bottom: auto;
        }
        & > * {
          pointer-events: none;
          height: 25px;
          width: 25px;
          margin: 0rem 1rem;
        }
      }
      & > label:hover {
        transition: transform 0.2s;
        transform: scale(1.05);
      }
    }
    .menu-slider-fix {
      position: absolute;
      width: 4.5rem;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 0;
      .bottom-or-left-overlap {
        background-color: var(--background-color);
        width: 2rem;
        height: 2rem;
        position: absolute;
        right: 0px;
        bottom: -20px;
      }
      .top-or-right-overlap {
        background-color: var(--background-color);
        width: 2rem;
        height: 2rem;
        position: absolute;
        right: 0px;
        top: -20px;
      }
      .top-or-right-corner {
        background: radial-gradient(
          circle 20.2px at bottom left,
          transparent 98%,
          var(--bg-image-color)
        );
        width: 2rem;
        height: 2rem;
        position: absolute;
        right: 0;
        top: 0;
      }
      .bottom-or-left-corner {
        background: radial-gradient(
          circle 20.2px at top left,
          transparent 98%,
          var(--bg-image-color)
        );
        width: 2rem;
        height: 2rem;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
  .tab-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    min-height: inherit;
    color: var(--text-color-same);
    .tab {
      position: absolute;
      padding: 5%;
      transition: opacity 0.5s, transform 0.5s;
      opacity: 0;
      transform: scale(0, 1);
      &.active {
        transition: opacity 0.5s 0.25s, transform 0.5s 0.25s;
        opacity: 1;
        transform: scale(1);
        position: relative;
      }
      h4:first-of-type {
        margin-bottom: 1rem;
      }
      h4:last-of-type {
        margin-top: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 850px) {
  .module-cards {
    flex-direction: column;
    height: auto;
    .tab-menu-bg {
      width: 100%;
      height: 6rem;
      .tab-menu {
        flex-direction: row;
        height: 6rem;
        width: var(--height-tab-menu-min850px);
        margin: 0 auto;
        .menu-slider {
          height: 4.5rem;
          border-top-left-radius: 25px;
          border-bottom-left-radius: 0px;
          border-top-right-radius: 25px;
          -webkit-transition: transform 1.8s, width 1.8s;
          transition: transform 1.8s, width 1.8s;
          .bottom-or-left{
            background: radial-gradient(
              circle 25.4px at top left,
              transparent 98%,
              var(--bg-image-color)
            );
            width: 3rem;
            height: 2.5rem;
            right: auto;
            bottom: 0px;
            left: -25px;
          }
          .top-or-right{
            background: radial-gradient(
              circle 25.4px at top right,
              transparent 98%,
              var(--bg-image-color)
            );
            width: 3rem;
            height: 2.5rem;
            right: -25px;
            top: auto;
            bottom: 0px;
          }

          @mixin sliderX($width, $distance) {
            width: $width;
            height: inherit;
            -webkit-transform: translateX($distance);
            -ms-transform: translateX($distance);
            transform: translateX($distance);
          }
          &.slider-0 {
            @include sliderX(165px, 0px);
          }
          &.slider-1 {
            @include sliderX(55px, 165px);
          }
          &.slider-2 {
            @include sliderX(55px, 220px);
          }
          &.slider-3 {
            @include sliderX(55px, 275px);
          }
          &.slider-4 {
            @include sliderX(110px, 330px);
          }
          &.slider-5 {
            @include sliderX(55px, 440px);
          }
          &.slider-6 {
            @include sliderX(55px, 495px);
          }
          &.slider-7 {
            @include sliderX(55px, 550px);
          }
        }
        & > label {
          flex-direction: row;
          &:first-of-type {
            margin-top: 0;
            margin-left: auto;
          }
          &:last-of-type {
            margin-bottom: 0;
            margin-right: auto;
          }
          & > * {
            height: 35px;
            width: 35px;
            margin: 1rem 0rem;
          }
        }
      }
      .menu-slider-fix {
        width: 100%;
        height: 6rem;
        .bottom-or-left-overlap{
          right: auto;
          bottom: 0px;
          left: -20px;
        }
        .top-or-right-overlap{
          top: auto;
          right: -20px;
          bottom: 0px;
        }
        .bottom-or-left-corner{
          background: radial-gradient(
            circle 20.2px at top right,
            transparent 98%,
            var(--bg-image-color)
          );
          left: 0;
          right: auto;
        }
        .top-or-right-corner{
          background: radial-gradient(
            circle 20.2px at top left,
            transparent 98%,
            var(--bg-image-color)
          );
          bottom: 0;
          top: auto;
        }
      }
    }
    .tab-content {
      .tab {
        padding: 2.5% 15%;
      }
    }
  }
}
