$primary-color-light: #2E3EB7;
$secondary-color-light: #ACB5F6;
$ascent-color-light: #1E2DB8;
$background-color-light: #FFEEE4;
$text-color-light: #060923;
$primary-color-dark: #2E3EB7;
$secondary-color-dark: #202B7A;
$ascent-color-dark: #848EEB;
$background-color-dark: #060923;
$text-color-dark: #FFEEE4;
$black-100: #212126;
$black-75: rgba($black-100, 0.75);
$black-50: rgba($black-100, 0.50);
$black-25: rgba($black-100, 0.25);
$black-10: rgba($black-100, 0.10);

$primary-color: $primary-color-light;
$secondary-color: $secondary-color-light;
$ascent-color: $ascent-color-light;
$background-color: $background-color-light;
$text-color: $text-color-light;