.contact-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 75%;
    margin-right: 12.5%;
    margin-left: 0%;
    
    .contact-job-description{
        width: 100%;
        border-radius: 20px;
        background-color: var(--background-color);
        .contact-job-description-header{
            padding: 10px 20px;
            border-radius: 20px;
            background-color: var(--secondary-color);
        }
    }
    .contacts{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin: 0;
        .contact-contacts{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-content: space-evenly;
            flex-grow: 7;
            gap: 0.5rem;
            padding: 0.5rem;
            background-color: var(--ascent-color-opacity-50);
            border-radius: 20px;
            border: 0.1rem solid var(--black-75);
            color: var(--icon-color-contacts);
            .contact-tel{
                margin: auto 0;
                cursor: pointer;
                position: relative;
                .tel-copied{
                    position: absolute;
                    bottom: 50px;
                    right: 30px;
                    transform: scale(0);
                    padding: 5px 12px;
                    background-color: var(--secondary-color);
                    border-radius: 20px;
                    color: var(--text-color);
                    transition: transform 0.2s;
                    &.clicked{
                        transform: scale(1.5);
                    }
                }

                .contact-tel-icon{
                    height: 37.5px;
                    & > *{
                        fill: var(--icon-color-contacts);
                    }
                }
            }
            .contact-mail{
                margin: auto 0;
                cursor: pointer;
                position: relative;
                .mail-copied{
                    position: absolute;
                    bottom: 65px;
                    right: 29px;
                    transform: scale(0);
                    padding: 5px 12px;
                    background-color: var(--secondary-color);
                    border-radius: 20px;
                    color: var(--text-color);
                    transition: transform 0.2s;
                    &.clicked{
                        transform: scale(1.5);
                    }
                }
                h6{
                    white-space: pre-wrap;
                }
                .contact-mail-icon{
                    width: 62.5px;
                    height: 50px;
                    & > *{
                        fill: var(--icon-color-contacts);
                    }
                }
            }
        }
        .contact-links{
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-content: space-evenly;
            flex-grow: 4;
            gap: 0.5rem;
            padding: 0.5rem;
            background-color: var(--ascent-color-opacity-50);
            border-radius: 20px;
            border: 0.1rem solid var(--black-75);
            & > *{
                margin: 0;
                & > *{
                    margin: auto;
                    width: 50px;
                    height: 50px;
                    cursor: pointer;
                    & > *{
                        fill: var(--icon-color-contacts);
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 850px) {
    .contact-container{
        flex-direction: row;
        .contact-job-description{
            flex-grow: 2;
        }
        .contacts{
            flex-direction: column;
            flex-grow: 1;
            .contact-contacts{
                .contact-tel{
                    &:hover{   
                        transition: transform 0.2s;
                        transform: scale(1.05);
                    }
                    .tel-copied{
                        bottom: 55px;
                        right: 25px;
                    }
                }
                .contact-mail{
                    &:hover{
                        transition: transform 0.2s;
                        transform: scale(1.05);
                    }
                    .mail-copied{
                        bottom: 80px;
                        right: 43px;
                    }
                }
            }
            .contact-links{
                & > *{
                    & > *:hover{
                        transition: transform 0.2s;
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}