.slide-show {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 20px;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  .slides{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: inherit;
    .slide{
      display: flex;
      max-width: min-content;
      position: absolute;
      transition: transform 1s 0.1s, opacity 1s 0.1s;
      &.active{
        position: relative;
        transform: translateX(0%) translateY(0px) scaleX(1);
        opacity: 1;
      }
      &.right{
        transform: translateX(50%) translateY(-10px) scaleX(0) skewY(-20deg);
        opacity: 0;
      }
      &.left{
        transform: translateX(-50%) translateY(-10px) scaleX(0) skewY(20deg);
        opacity: 0;
      }
      &.else{
        transform: translateX(0%) translateY(0px) scaleX(0);
        opacity: 0;
      }
      &.active-2-1{
        margin: 0;
        position: relative;
        transform: translateX(calc(50% + 5px)) translateY(0px) scaleX(1);
        opacity: 1;
      }
      &.active-2-2{
        transform: translateX(calc(-50% - 5px)) translateY(0px) scaleX(1);
        opacity: 1;
      }
      &.right-2{
        transform: translateX(calc(-100% - 10px)) translateY(-10px) scaleX(0) skewY(20deg);
        opacity: 0;
      }
      &.left-2{
        transform: translateX(calc(100% + 10px)) translateY(-10px) scaleX(0) skewY(-20deg);
        opacity: 0;
      }
      &.active-3-1{
        margin: 0;
        position: relative;
        transform: translateX(calc(100% + 10px)) translateY(0px) scaleX(1);
        opacity: 1;
      }
      &.active-3-2{
        transform: translateX(0%) translateY(0px) scaleX(1);
        opacity: 1;
      }
      &.active-3-3{
        transform: translateX(calc(-100% - 10px)) translateY(0px) scaleX(1);
        opacity: 1;
      }
      &.right-3{
        transform: translateX(calc(-150% - 15px)) translateY(-10px) scaleX(0) skewY(20deg);
        opacity: 0;
      }
      &.left-3{
        transform: translateX(calc(150% + 15px)) translateY(-10px) scaleX(0) skewY(-20deg);
        opacity: 0;
      }
      &.active-4-1{
        margin: 0;
        position: relative;
        transform: translateX(calc(150% + 15px)) translateY(0px) scaleX(1);
        opacity: 1;
      }
      &.active-4-2{
        transform: translateX(calc(50% + 5px)) translateY(0px) scaleX(1);
        opacity: 1;
      }
      &.active-4-3{
        transform: translateX(calc(-50% - 5px)) translateY(0px) scaleX(1);
        opacity: 1;
      }
      &.active-4-4{
        transform: translateX(calc(-150% - 15px)) translateY(0px) scaleX(1);
        opacity: 1;
      }
      &.right-4{
        transform: translateX(calc(-200% - 20px)) translateY(-10px) scaleX(0) skewY(20deg);
        opacity: 0;
      }
      &.left-4{
        transform: translateX(calc(200% + 20px)) translateY(-10px) scaleX(0) skewY(-20deg);
        opacity: 0;
      }
      &.active-5-1{
        margin: 0;
        position: relative;
        transform: translateX(calc(200% + 20px)) translateY(0px) scaleX(1);
        opacity: 1;
      }
      &.active-5-2{
        transform: translateX(calc(100% + 10px)) translateY(0px) scaleX(1);
        opacity: 1;
      }
      &.active-5-3{
        transform: translateX(0%) translateY(0px) scaleX(1);
        opacity: 1;
      }
      &.active-5-4{
        transform: translateX(calc(-100% - 10px)) translateY(0px) scaleX(1);
        opacity: 1;
      }
      &.active-5-5{
        transform: translateX(calc(-200% - 20px)) translateY(0px) scaleX(1);
        opacity: 1;
      }
      &.right-5{
        transform: translateX(calc(-250% - 25px)) translateY(-10px) scaleX(0) skewY(20deg);
        opacity: 0;
      }
      &.left-5{
        transform: translateX(calc(250% + 25px)) translateY(-10px) scaleX(0) skewY(-20deg);
        opacity: 0;
      }
    }
  }
  .left-arrow-btn{
    cursor: pointer;
    &:hover{
      transition: transform 0.2s;
      transform: scale(1.05);
    }
    .left-arrow {
      min-width: 25px;
      height: 50px;
      display: block;
      margin: auto 0;
      background-color: var(--text-color);
      clip-path: polygon(0 50%, 100% 0, 50% 50%, 100% 100%);
    }
  }
  .right-arrow-btn{
    cursor: pointer;
    &:hover{
      transition: transform 0.2s;
      transform: scale(1.05);
    }
    .right-arrow {
      min-width: 25px;
      height: 50px;
      display: block;
      margin: auto 0;
      background-color: var(--text-color);
      clip-path: polygon(0 0, 100% 50%, 0 100%, 50% 50%);
    }
  }
}