#splash-screen {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  background-color: var(--background-color);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  &.loaded {
    animation: loaded 0.5s forwards;
    @keyframes loaded {
        from{
            opacity: 1;
        }
        to{
            opacity: 0;
        }
    }
  }
  .loader {
    width: 60px;
    height: 60px;
    & > * {
      height: 10px;
      width: 100%;
      background-color: var(--ascent-color);
      border-radius: 3px;
    }
    .loader-line-1 {
      animation: loader-line-1 1.5s ease-in-out infinite;
    }
    .loader-line-2 {
      margin: 15px 0;
      animation: loader-line-2 1.5s ease-in-out infinite;
    }
    .loader-line-3 {
      animation: loader-line-3 1.5s ease-in-out infinite;
    }
    @keyframes loader-line-1 {
      0% {
        transform: translate3d(0, 0, 0) rotate(0deg);
      }
      25% {
        transform: translate3d(-30px, 25px, 0) rotate(90deg);
      }
      50% {
        transform: translate3d(0, 50px, 0) rotate(180deg);
      }
      75% {
        transform: translate3d(30px, 25px, 0) rotate(270deg);
      }
      100% {
        transform: translate3d(0, 0, 0) rotate(360deg);
      }
    }

    @keyframes loader-line-2 {
      0% {
        transform: translate3d(0, 0, 0) rotate(0deg);
      }
      25% {
        transform: translate3d(0, 0, 0) rotate(-90deg);
      }
      50% {
        transform: translate3d(0, 0, 0) rotate(-180deg);
      }
      75% {
        transform: translate3d(0, 0, 0) rotate(-270deg);
      }
      100% {
        transform: translate3d(0, 0, 0) rotate(-360deg);
      }
    }

    @keyframes loader-line-3 {
      0% {
        transform: translate3d(0, 0, 0) rotate(0deg);
      }
      25% {
        transform: translate3d(30px, -25px, 0) rotate(90deg);
      }
      50% {
        transform: translate3d(0, -50px, 0) rotate(180deg);
      }
      75% {
        transform: translate3d(-30px, -25px, 0) rotate(270deg);
      }
      100% {
        transform: translate3d(0, 0, 0) rotate(360deg);
      }
    }
  }
}
