#article-hero{
  display: flex;
  flex-direction: column;
  .content-container{
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
  }
  .profile-picture{
    border: 0.75rem solid var(--primary-color);
    border-radius: 50%;
    margin: 2.5rem auto;
    box-shadow: 0px 0px 20px 5px var(--ascent-color-opacity-50);
  }
}

#article-education {
  position: relative;
  display: flex;
  flex-direction: row;
  .education-bg-img{
      clip-path:  polygon(0 0, 50% 7%, 100% 10%, 100% 90%, 50% 93%, 0 100%);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../../public/background_education.svg');
      background-size: cover; /* Adjust as needed */
      background-repeat: no-repeat;
      background-position: 50%;
      z-index: -1; /* Place the background behind other content */ 
  }
  .aside-education{
    position: relative;
    font-family: 'Gemunu Libre';
    width: 12.5%;
    margin: -2rem 0%;
    left: -0.5rem;
    letter-spacing: -1rem;
    white-space: pre-wrap;
    font-size: 8rem;
    line-height: 100%;
    color: var(--text-reverse-color);
    z-index: 1;
  }
}

#article-techstack {
  position: relative;
  display: flex;
  flex-direction: row;
  .aside-techstack{
    position: relative;
    font-family: 'Gemunu Libre';
    width: 12.5%;
    margin: -7.2rem 0% -2rem 0%;
    white-space: pre-wrap;
    left: -0.5rem;
    letter-spacing: -1rem;
    font-size: 8rem;
    line-height: 90%;
    color: var(--primary-color);
    z-index: -2;
  }
}

#article-contact {
  position: relative;
  display: flex;
  flex-direction: row;
  .contact-bg-img{
      clip-path:  polygon(0 10%, 50% 7%, 100% 0, 100% 100%, 50% 93%, 0 90%);
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url('../../public/background_contact.svg');
      background-size: cover; /* Adjust as needed */
      background-repeat: no-repeat;
      background-position: 50%;
      z-index: -1; /* Place the background behind other content */ 
  }
  .aside-contact{
    position: relative;
    font-family: 'Gemunu Libre';
    width: 12.5%;
    left: -0.5rem;
    letter-spacing: -1rem;
    margin: 4.5rem 0;
    white-space: pre-wrap;
    font-size: 8rem;
    line-height: 112%;
    color: var(--text-reverse-color);
    z-index: 1;
  }
}

@media only screen and (min-width: 850px) {
  #article-hero{
    .content-container{
      gap: 1rem;
      margin: 5rem auto;
    }
    .profile-picture{
      width: 300px;
      height: 300px;
    }
  }
}