#article-hero{
  display: flex;
  flex-direction: column;
  .content-container{
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
  }
  .profile-picture{
    border: 0.75rem solid var(--primary-color);
    border-radius: 50%;
    margin: 2.5rem auto;
  }
}



#article-education {
  position: relative;
  display: flex;
  flex-direction: row;
  clip-path: polygon(0 0, 50% 7%, 100% 10%, 100% 90%, 50% 93%, 0 100%);
  background-color: var(--primary-color);
  .article-bg-img{
    position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../public/background-education.jpg');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 0.15; /* 20% opacity */
    z-index: -1; /* Place the background behind other content */
  }
  .aside-education{
    font-family: 'Gemunu Libre';
    margin: -2rem 1%;
    white-space: pre-wrap;
    font-size: 8rem;
    line-height: 95%;
    color: var(--text-reverse-color);
    z-index: 1;
  }
}

