@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Livvic&display=swap');

:root {
    --primary-color: #2E3EB7;
    --secondary-color: #ACB5F6;
    --ascent-color: #1E2DB8;
    --background-color: #FFEEE4;
    --text-color: #060923;
    --text-reverse-color: #FFEEE4;
    --ascent-color-opacity-50: rgba(30, 45, 184, .5);
    --black-100: #212126;
    --black-75: rgba(33, 33, 38, 0.75);
    --black-50: rgba(33, 33, 38, 0.50);
    --black-25: rgba(33, 33, 38, 0.25);
    --black-10: rgba(33, 33, 38, 0.10);
    --multiplier: 1;
}

.dark-theme {
    --primary-color: #2E3EB7;
    --secondary-color: #202B7A;
    --ascent-color: #848EEB;
    --background-color: #060923;
    --text-color: #FFEEE4;
    --text-reverse-color: #060923;
    --ascent-color-opacity-50: rgba(132, 142, 235, .5);
}